/* This is a comment in CSS*/

h1{
    color: blue;
    text-align: center;
    font-size: 30;
    background-color: white;
}

.navbar {
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.navbar ul {
    background-color: #008CBA;
    padding: 10px; 
    margin: 0px;
    list-style: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul li {
    background-color:none;
    display:flex;
    float: left;
    color: white;
    margin: 5px;
    padding: 5px;
}


.navbar ul li a {
    font-family: Arial;
    color:white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
}

.navbar ul li a:hover {
    font-weight: bold;
    background-color: gray;
}


.about-container{
    background-color:azure;     
}

.about-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:100px;    
}

.about-img{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:20px;    
}

.about-item{
    display: flex;
    flex-direction: column;
    text-align:left;
    justify-content: center;
    align-items: center;
    margin-top:10px;    
}

.page4-conatiner{
    background-color:aquamarine;
    margin-top:125px;
    margin-bottom:0px;
}

.page4-contents{
    background-color: none;
    margin-top: 20px;
}

.page4-content1{
    background-color:none; 
    color: black;
    text-align: center;
    padding:5px;
    font-size: 18px;
}

.page4-content2{
    display: flex;
    flex-direction:row;
    background-color: gray;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}
.page4-content3{
    background-color: #008CBA;
    margin: 15px;
    padding: 10px;          
    border-radius: 10px;
    font:14pt Tahoma;
    font-weight: bold;
    background-image:linear-gradient(to right, red, green, blue);
}

.page4-content4{
    background-color: chocolate;
    margin: 15px;
    padding: 20px;
    color: white;
    border-radius: 10px; 
    text-shadow: 2px 2px 4px #000000;
    font:italic 14pt Verdana, Geneva, Tahoma, sans-serif;
    background-image:linear-gradient(to bottom right, red, green, blue);           
    
}

.page4-content5{
    background-color: chocolate;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    font:italic 14pt Verdana, Geneva, Tahoma, sans-serif;
    background-image:
    linear-gradient(235deg, red, green, blue);
    border-radius: 10px;           
}

.page4-content6{
    background-color: bisque;
    margin: 15px;
    padding: 10px;
    font:14pt Tahoma;
    font-weight: bold;
    text-shadow: 1px 1px; 
    border-radius: 10px;
    background-image:linear-gradient(to right, rgba(110,49,75,90), rgba(255,0,0,1));
}

.page4-content7{
    background-color:gray;
    padding: 10px;
    margin: 20px;
    margin-bottom:50px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px; 
    border-radius: 10px;
   
}


/* This is the styling section for page 5 */

.page5 {
    background-color: lightblue;
    margin: 10px; 
    margin-top: 20px;
    padding: 10px; 
    border-radius: 5p;
}

.important{
    background-color:darkblue; 
    color:white
}

#A1 {
    background-color:darkblue; 
    color:white
}

[lang] {
    background-color:darkblue; 
    color:white
}

[lang="en"] {
    background-color:darkblue; 
    color:white}

[lang="qen"], [lang="fer"] {
    background-color:green; 
    color:white;
}

/* * will select all elements in the document */ 

.page5-container {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    background-color:lightslategray;
    margin:10px;
    padding: 10px;

}  

.page5-container > * {
    border: solid 1px gray;
    margin:10px;
    padding: 10px;
    background-color:mediumpurple;
}  

.page5-container:hover{
    background-color:lightblue;
}

.page5-text:hover{
    background-color:greenyellow;
}

.page5-column{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color:lightpink;
    margin:10px;
    margin-bottom:20px;
    padding: 10px;
    border-radius: 10px;
}

.page5column-text{
    background-color:lightblue;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

.page5column-text[lang="gr"]{
    background-color:lightseagreen;
    color:black;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

.page5column-text > p{
    background-color:lime;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

.page5column-text:not([lang="gr"]) {
    color: white;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

.page5column-text > p:nth-child(2) { 
    background: red; }
        
.resume-button {
    background-color: blue;
    border: solid 1px gray;
    text-align: center;
    border-radius:10px;
    padding:10px;
    margin: 20px;
    margin-bottom:50px;
}

.download-button:hover {
    background-color:slategray;
    color:white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.download-button:active {
    background-color:red
}



table{
    border-style:solid ;
    border-width:1px ;
    margin-top:100px;
    margin-bottom:75px;
    margin-left:75px;
    text-align: center;
    justify-content: center;
    background-color: none;
}
th, td{ 
    border: 1px;
    border-style: solid;
    padding: 8px;
}
.Table{
    margin-top: 40px;
}

.table tr:nth-child(even){
    background-color:bisque;

}

.table tr:nth-child(odd){
    background-color:aquamarine;

}



.footer{
    background-color: cadetblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top:10px;
}
.footer a{
    background-color:cadetblue;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;


}