/* This is a comment in CSS*/
h1{
    color: blue;
    text-align: center;
    font-size: 30;
    background-color: white;
}

ul {
    list-style-type:none;
    margin: 10px;
    margin-left: 30px;
    padding: 8px;
    background-color:grey;
}

li{
    display:inline;
    margin-inline: 8px;
}

li a{
    display:inline;
    color:white;
    padding: 8px 8px;
    text-align:center;
    text-decoration: none;
    font-size:large;
}

li a:hover{
    background-color: red;

}

.nav-bar{
  display:inline;  
  justify-content: center;
  align-items: center;
}

table{
    border-style:solid ;
    border-width:1px ;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
    background-color: none;
}
th, td{ 
    border: 1px;
    border-style: solid;
    padding: 8px;
}
.Table{
    margin-top: 40px;
}

.table tr:nth-child(even){
    background-color:bisque;

}

.table tr:nth-child(odd){
    background-color:aquamarine;

}




.about{
    background-color: grey;
    padding:none;
    margin-left: 20px;   
}



footer{
    display: block;
    text-align: center;
    padding: 3px;
    background-color:yellowgreen;
    color: white;
    font-weight: bold;
}